:root {
  /* Fonts */
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  /* Tetx colors */
  --main-txt-cl: #22343d;
  --secondary-txt-cl: #737373;
  --accent-txt-cl: #02897a;
  --light-txt-cl: #ffffff;
  /* Background colors */
  --main-bg-cl: ;
  --secondary-bg-cl: ;
  --accent-bg-cl: #02897a;
  --light-bg-cl: #ffffff;
  --btn-bg-cl: #f3f3f3;
  /* Other visuals vars */
  --logo-cl: #173a56;
  --brdr-cl: #bcd0e5;
  --brdr-rad-sm: 8px;
  --brdr-rad-lg: 32px;
  --brdr-rad-crcl: 50%;
  --items: 1;
  --indent: 30px;
}

/* Base styles */
body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 16px;
  line-height: 1.62;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  /* margin-top: 0;
 */
 
}

/* p:last-child {
  margin-bottom: 0;
} */
.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.container {
  width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.main-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
}

.small-txt {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.bold-txt {
  font-weight: 700;
}

.main-btn {
  padding: 9px 24px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #173a56;

  background-color: var(--light-bg-cl);
  border: 1px solid var(--brdr-cl);
  border-radius: var(--brdr-rad-sm);
  cursor: pointer;
}



.accent-btn {
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
  border: 1px solid transparent;
}

.switcher-btn {
  background-color: var(--btn-bg-cl);
  border: none;
  border-radius: var(--brdr-rad-crcl);
  cursor: pointer;
}

/**
  |============================
  | Header section
  |============================
*/
.header-container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 237px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  color: var(--logo-cl);
}

.logo-img {
  margin-right: 16px;
}

.header-list {
  display: flex;
  margin-right: 24px;
}

.header-item:not(:last-child) {
  margin-right: 30px;
}

.header-link {
  display: block;
  padding-top: 26px;
  padding-bottom: 26px;
  line-height: 1.75;
}

.header-link-current {
  font-weight: 600;
}

.header-main-btn-list {
  display: flex;
}

.header-main-btn-item:not(:last-child) {
  margin-right: 24px;
}

.switcher-btn {
  margin-left: auto;
}

/**
  |============================
  | Hero section
  |============================
*/

.hero {
  padding-top: 25px;
}
.hero-container {
  display: flex;
  align-items: center;
}

.hero-left-side {
  width: 465px;
}

.hero-right-side {
  margin-left: auto;
}

.hero-desc {
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 45px;
}

.hero-btn {
  margin-right: 30px;
}
.hero-link {
  display: inline-flex;
  align-items: center;
  color: var(--accent-txt-cl);
  font-weight: 600;
}

.hero-icon {
  margin-right: 9px;
}

/**
  |============================
  | Features section
  |============================
*/
.features .section-title {
  width: 539px;
  margin-right: auto;
  margin-left: auto;

  margin-bottom: 50px;

  text-align: center;

}

.features-list{
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.features-item{
  width: 255px;
}

.features-img{
  margin-bottom: 26px;
}



.features-subtitle {
  margin-bottom: 13px;

  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
}

.features-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;

  text-transform: uppercase;
}


/**
  |============================
  | Managment section
  |============================
*/
.managment-subtitle {
  font-weight: 600;
}

/**
  |============================
  | Support section
  |============================
*/

/**
  |============================
  | Collaboration section
  |============================
*/
.collaboration-subtitle {
  font-weight: 600;
}

/**
  |============================
  | Staff section
  |============================
*/
.staff-desc {
  font-weight: 500;
}

.staff-text {
  font-weight: 500;
}

/**
  |============================
  | Strategies section
  |============================
*/
.strategies-desc {
  font-weight: 500;
}

.strategies-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
}

/**
  |============================
  | Price section
  |============================
*/
.price {
  font-family: var(--secondary-font);
}

.price-desc {
  font-weight: 500;
}

.price-card-active {
  background-color: var(--accent-bg-cl);
  color: var(--light-txt-cl);
}

.price-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
}

.price-card-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.2px;
}

.price-card-btn {
  color: var(--accent-bg-cl);
  background-color: var(--light-bg-cl);
}

/**
  |============================
  | Feedback section
  |============================
*/
.feedback-title {
  line-height: 1.78;
  letter-spacing: 0.2px;
}

.feedback-desc {
  font-weight: 500;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.2px;
}

.feedback-rate {
  color: #f3cd03;
}

.feedback-text {
  line-height: 1.75;
  letter-spacing: 0.2px;
  color: var(--secondary-txt-cl);
}

.feedback-author {
  font-weight: 600;
  letter-spacing: 0.2px;
  color: var(--accent-txt-cl);
}

.feedback-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
}

/**
  |============================
  | Promo section
  |============================
*/
.promo {
  background-color: var(--accent-bg-cl);
  border-radius: var(--brdr-rad-lg);
}

.promo-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.51;
  color: var(--light-txt-cl);
}

.promo-btn {
  font-size: 20px;
  color: var(--accent-txt-cl);
}

/**
  |============================
  | Footer section
  |============================
*/
.footer-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.footer-resource-link {
  line-height: 2.19;
}

.footer-rights {
  line-height: 1.88;
  text-align: center;
}